@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

* {
    font-family: 'Odibee Sans', cursive;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: silver
}

h1#heading {
    color: chartreuse;
    text-align: center;
    font-size: 5rem;
    border: 2px solid darkred;
    background-color: chocolate;
    padding: 10px;
}

#sub {
    background-color: crimson;
    text-align: center;
    color: cornsilk;
    font-size: 2rem;
    padding: 10px;
    border-bottom: 2px solid darkred;
}

#inpMsg {
    height: 40px;
    width: 300px;
    background-color: snow;
    font-size: 30px;
    margin-top: 10px;
}

label {
    margin-top: 50px;
    font-size: 30px;
    color: darkgreen;
}

.box {
    display: flex;
    flex-direction: column;
}

#btnSend {
    height: 30px;
    width: 200px;
    background-color: cornflowerblue;
    margin-top: 10px;
    font-size: 20px;
}

#msg {
    margin-top: 20px;
    color: darkblue;
    font-size: 40px;
    margin-bottom: 10px;
}

.card {
    background-color: bisque;
    margin-top: 5px;
    font-size: 30px;
    width: 300px;
    padding: 5px;
}